<%- include('../partials/header'); %>

<section class="section">
      <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
          <nav class="menu">
            <p class="menu-label">
              Menu
            </p>
            <ul class="menu-list">
              <li>
                <a class="is-active" href="/voice">
                  <span class="icon">
                    <i class="fa fa-tachometer"></i>
                  </span>
                  Dashboard
                  </a>
              </li>
              <li>
                <a href="voice/extensions">
                  <span class="icon">
                    <i class="fa fa-address-book"></i>
                  </span>
                  Extensions
                </a>
              </li>
              <li>
                <a href="voice/calls/1">
                  <span class="icon">
                    <i class="fa fa-phone"></i>
                  </span>
                  Calls
                </a>
              </li>
	      <li>
                <a href="/voice/recordings/1">
                  <span class="icon">
                    <i class="fa fa-volume-up"></i>
                  </span>
                  Recordings
                </a>
              </li>

              <li>
                <a href="http://192.168.1.210:4321">
                  <span class="icon">
                    <i class="fa fa-bar-chart"></i>
                  </span>
                  Reports
                </a>
              </li>



            </ul>
          </nav>
        </div>

        <div class="column">
          <div class="level">
            <div class="level-left">
              <h1 class="subtitle is-3">
                <span class="has-text-grey-light">Hello</span> <strong><%=currentUser.username%></strong>
              </h1>
            </div>
            <div class="level-right">
              <div class="select">
                <select>
                  <option name="Today" selected>Today</option>
                  <option>Yesterday</option>
                  <option>This Week</option>
                  <option>This Month</option>
                  <option>This Year</option>
                  <option>All time</option>
                </select>
              </div>
            </div>
          </div>

          <div class="columns is-multiline">
            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-link has-text">
                <p class="title is-2"><%= incoming %></p>
                <p class="subtitle is-4">Incoming Calls</p>
              </div>
            </div>

            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-info has-text">
                <p class="title is-2"><%= outgoing %></p>
                <p class="subtitle is-4">Outgoing Calls</p>
              </div>
            </div>

            <div class="column is-12-tablet is-6-desktop is-3-widescreen">
              <div class="notification is-primary has-text">
                <p class="title is-2">$<%= (( sum / 60 ) * 0.85).toFixed(2) %> </p>
                <p class="subtitle is-4">Total Cost (approx)</p>
              </div>
            </div>


            <div class="column is-12-tablet is-6-desktop is-4-fullhd">
              <div class="card">
                <div class="card-content">
                  <canvas id="myChart" width="400" height="400"></canvas>
                </div>
              </div>
            </div>

            <div class="column is-12-tablet is-6-desktop is-4-fullhd">
              <div class="card">
                <div class="card-content">
                  <h2 class="title is-4">
                    Top 5 Users Today
                  </h2>

                   <% top5.forEach(function(caller){ %>                
				 <div class="media">
                    <div class="media-left is-marginless">
                      <p class="number"><%= i++ %></p>
                    </div>
                    <div class="media-content">
                      <p class="title is-5 is-spaced is-marginless">
                        <strong><%= caller.src %></strong>
                      </p>
                      <p class="subtitle is-6">
                        <%= (caller.billsec / 60).toFixed(2) %> mins
                      </p>
                    </div>
                  </div>
                  <% }); %>


                  <a class="button is-link is-outlined" href="/voice/calls/1">View all Calls</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
	<script>
var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',

    // The data for our dataset
    data: {
        datasets: [{
            label: 'Total Minutes',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)'],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)'],
		borderWidth: 1,
        }]
    },

    // Configuration options go here
    options: {}
});
</script>

<%- include('../partials/footer'); %>
