<%- include('../partials/header'); %>

 <section class="section">
      <div class="columns">
        <div class="column is-4-tablet is-3-desktop is-2-widescreen">
          <nav class="menu">
            <p class="menu-label">
              Menu
            </p>
            <ul class="menu-list">
              <li>
                <a href="/voice">
                  <span class="icon">
                    <i class="fa fa-tachometer"></i>
                  </span>
                  Dashboard
                  </a>
              </li>
              <li>
                <a href="/voice/extensions">
                  <span class="icon">
                    <i class="fa fa-address-book"></i>
                  </span>
                  Extensions
                </a>
              </li>
              <li>
                <a href="/voice/calls/1">
                  <span class="icon">
                    <i class="fa fa-phone"></i>
                  </span>
                  Calls
                </a>
              </li>
              <li>
                <a class="is-active" href="/voice/recordings/1">
                  <span class="icon">
                    <i class="fa fa-volume-up"></i>
                  </span>
                  Recordings
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="column">
          <h1 class="title ">Recordings</h1>

  <% if(currentUser.isAdmin === false ) { %>
<div class="notification is-danger is-light">
            You are not authorized to view this page 
          </div>
 <% } %>

<% if(currentUser.isAdmin === true) { %>

          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <p class="subtitle is-5">
                  <strong><%= total.rows %></strong> recordings
                </p>
              </div>
              <div class="level-item is-hidden-tablet-only">
                  <form action='/voice/recordings/search' method="POST">
    <div class="field has-addons">
                  <p class="control">
                    <input class="input" name='search' type="text" placeholder="Extension #, User…">
                  </p>
                  <p class="control">
                    <button class="button">
                      Search
                    </button>
                  </p>
                </div>
  </form>
              </div>
            </div>

            <div class="level-right">
              <div class="select">
                <select>
                  <option selected>Today</option>
                  <option>Yesterday</option>
                  <option>This Week</option>
                  <option>This Month</option>
                  <option>This Year</option>
                  <option>All time</option>
                </select>
              </div>
            </div>
          </nav>

          <table class="table is-hoverable is-fullwidth is-striped">
            <thead>
              <tr>
                <th>Call Time</th>
                <th>Source</th>
                <th>Destination</th>
                <th class='has-text-center'>Audio</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Call Time</th>
                <th>Source</th>
                <th>Destination</th>
                <th class='has-text-center'>Audio</th>
              </tr>
            </tfoot>
            <tbody>


               <% rec.forEach(function(rec){ %>
             <tr>
                <td>
                  <%= rec.calldate.toString().slice(0,25) %>
                </td>
                <td>
                  <%= rec.src %>
                </td>
                <td><<%= rec.dst %></td>
                <td>
                  <audio controls>
                    <source src="/recordings/<%= rec.rec_name %>.wav" type="audio/wav">
                      Your browser does not support the audio element.
                  </audio>
                </td>
              </tr>
               <%  }); %>

            </tbody>
          </table>
<% } %>

<nav class="pagination">
            <% if (pages > 0) { %>
                <ul class="pagination-list">
                    <% if (current == 1) { %>
                        <li class="disabled"><a class="pagination-link">First</a></li>
                    <% } else { %>
                        <li><a href="/voice/recordings/1" class="pagination-link">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled"><a class="pagination-link">...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <li><a class="pagination-link is-current"><%= i %></a></li>
                        <% } else { %>
                            <li><a class="pagination-link" href="/voice/recordings/<%= i %>"><%= i %></a></li>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li><a class="pagination-link">...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <li><a class="pagination-link">Last</a></li>
                    <% } else { %>
                        <li><a class="pagination-link" href="/voice/recordings/<%= pages %>">Last</a></li>
                    <% } %>
                </ul>
            <% } %>
                        </nav>


</div>
      </div>
    </section>

<%- include('../partials/footer'); %>
